  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <i class="fas fa-trophy-star fa-2x"></i>
    <a class="nav-bar-link" href="/pages">
      ALL PAGES 
    </a>
    <a class="nav-bar-link" href="/teams/new">
      ADD TEAM 
    </a>
    <a class="nav-bar-link" href="/athletes/new">
      ADD ATHLETE 
    </a>
    <a class="nav-bar-link" href="/athletes/index">
      ALL ATHLETES
    </a>
    <% if (user) { %>
      <a class="nav-bar-link" href="/pages">
        YOUR PROFILE
        </a>
      <a class="nav-bar-link" href="/pages/new">
        CREATE PROFILE 
      </a>
      <a href="/auth/logout" class="right">
        <button class="logout-btn" type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
