  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <i class="fa-sharp fa-solid fa-trophy fa-2x"></i>
    <a class="nav-bar-link" href="/pages">
      SPORTS
    </a>
    <a class="nav-bar-link" href="/teams/index">
      ALL TEAMS
    </a>
    <a class="nav-bar-link" href="/athletes/index">
      ALL ATHLETES
    </a>
    <% if (user?.profile.equals('644987e456f0916e642d8ec1')) { %>
      <a class="nav-bar-link" href="/pages/new">
        CREATE PROFILE 
      </a>
    <% } %>
    <% if (user) { %>
      <a href="/auth/logout" class="right">
        <button class="logout-btn" type="submit"><img src="/assets/icons/logout-icon.svg" height="25px"></button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
