html * {
  border: 1px solid red;
  box-sizing: border-box;
}


*::after {
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  gap: 10px;
  background-color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-decoration: underline;
}

.right {
  margin-left: auto;
}

.nav-bar-link {
  color: white;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.date-text {
  font-size: small;
}

.comment-text {
  font-size: large;
}

.creator-text {
  font-weight: 700;
  font-size: large;
}

.add-comment-form {
  display: flex;
}

.ta-link {
  color: white;
}

.add-link {
  color: white;
}